<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" text="text/css" href="app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="background-image"></div>

    <div class="container">
        <div class="header">
            <img id="first-img" src="https://www.mccormick.northwestern.edu/images/research-and-faculty/directory/joseph-russ.jpg">
            <h1>Professor Russ Joseph Approved Fibonacci Sequence Generator</h1>
            <img id="second-img" src="https://www.mccormick.northwestern.edu/images/research-and-faculty/directory/joseph-russ.jpg">
        </div>
        
        <div class="num-container" >
            <p class="num" id="fib-number">0</p>
        </div>

        <div class="button-container">
            <button class="next" id="next" onclick="nextFib()">Get Next Number</button>
            <button class="clear" onclick="clearFib()">Reset</button>
        </div>

        <div class="quote">
            <p id="karthik">
                <q>Please give me an A</q>
                <br>
                <br>
                ~ Karthik
            </p>
            <p id="russ">
                <q>[Imagine] a family of four sitting together [...] on a cold, 
                [...] rainy full night. And they're looking at these numbers come out 
                of the Fibonacci generator. Right. [It] just kind of 
                warms your heart, doesn't it?</q>
                <br>
                <br>
                ~ Prof. Russ Joseph
            </p>
            <p id="captain">
                <q>Live like the Captain</q>
                <br>
                <br>
                ~ Captain Morgan
                <br>
                <br>
                <img id="captain-image" src="https://upload.wikimedia.org/wikipedia/en/3/32/Captainlogo_2005.PNG">
            </p>
        </div>
    </div>

</body>
</html>

<script>
    const fibNumber = document.getElementById("fib-number");
    var prevNum = 0;

    function nextFib() {
        const currNum = parseInt(fibNumber.innerText, 10);  
        if (currNum == 0) {
            fibNumber.innerText = 1;
            prevNum = 0;
        } else {
            const temp = currNum;
            fibNumber.innerText = currNum + prevNum;
            prevNum = temp;
        }

        document.getElementsByClassName('num')[0].classList.add('changeTransition');
        document.getElementById('next').disabled = true;
        setTimeout(function() {
            document.getElementsByClassName('num')[0].classList.remove('changeTransition');
            document.getElementById('next').disabled = false;
        }, 1000);
    }
    
    function clearFib() {
        fibNumber.innerText = 0;
    }
</script>