body {
    margin: 0;
}

.background-image {
  /*background-image: url("https://www.mccormick.northwestern.edu/images/research-and-faculty/directory/joseph-russ.jpg");*/
  background-image: url("https://img.wallpapersafari.com/desktop/1680/1050/55/36/ZRI3wg.jpg");

  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-size:cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.container {
    margin: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}

img {
    width: 150px;
    height: 150px;
    border: 30px ridge white;
    border-radius: 10px;
}

h1 {
    font-family: cursive;
    font-weight: bolder;
    color: white;
    padding: 0 100px 0 100px;
}

.num-container {
    border: 2px solid white;
    box-shadow: 2px 10px 4px -5px #d3d3d3;
    
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;

    margin: 2.5% 25%;
    width: 90%;
}

.num {
    font-size: 1500%;
    font-weight: bolder;
    color: white;
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 0;
    margin: 0; 
}

.changeTransition {
    transform: rotate(100deg) scale(0);
    opacity: 0;
    left: -50px;
    bottom: -50px;
    animation: textAnim 0.5s;
    animation-fill-mode: forwards;
}

@keyframes textAnim{
    100% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
        left: 0;
        bottom: 0;
    }
}

.num::-webkit-scrollbar {
    display: none;
}

.button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

button {
    margin: 1em;
    padding: 1em;
    width: 40%;
    border: 3px solid black;
    border-radius: 10px;
    transform: scale(1);
    transition: transform 1.0s, background-color 0.3s ease-out;
    font-size: large;
    cursor: pointer; 
}

button:active {
    background-color: #4e2a84;
}

.quote {
   display: flex;
   flex-direction: row;
   margin: auto;
   font-weight: bold;
   font-size: large;
   color: white;
}

.quote #karthik {
    flex-basis: 33%;
    padding: 30px;
    
}

.quote #russ {
    flex-basis: 33%;
    padding: 30px;
    border-left: 2px solid gray;
}

.quote #captain {
    flex-basis: 33%;
    padding: 30px;
    border-left: 2px solid gray;
}

#captain-image {
    border: none;
}

@media (max-width: 1024px) {
    .header {
        flex-direction: column;
    }

    .header #second-img {
        display: none;
    }

    .button-container {
        flex-direction: column;
    }

    button {
        width: 90%;
    }

    .quote {
        flex-direction: column;
        width: 90%;
    }

    .quote #russ {
        border-top: 2px solid gray;
        border-left: none;
    }
    
    .quote #captain {
        border-top: 2px solid gray;
        border-left: none;
    }
}

